@if (isLoading) {
  <h2>Loading dashboard...</h2>
} @else {
  <div class="dashboard-container">
    <button (click)="logout()">Logout</button>
    <span>
      <button (click)="gotoHistory()">History</button>
    </span>
    <span>
      <button (click)="logNewPeriod()">Log New Period</button>
    </span>
    <h2>My Cycle Dashboard</h2>

    <div class="card">
      <p>
        <strong>Period Start:</strong>
        {{ dashboardData.periodStart }}
      </p>

      <p>
        <strong>Period End:</strong>
        {{ dashboardData.periodEnd }}
      </p>

      <p>
        <strong>Ovulation Date:</strong>
        {{ dashboardData.ovulationDate }}
      </p>

      <p>
        <strong>Next Period:</strong>
        {{ dashboardData.nextPeriodDate }}
      </p>

      <p>
        <strong>Current Day:</strong>
        Day {{ dashboardData.dayOfCycle }}
      </p>

      <p>
        <strong>Current Phase:</strong>
        {{ dashboardData.currentPhase }}
      </p>
    </div>

    <div class="card">
      <h3>Recommended Workouts</h3>

      <ul>
        @for (workout of dashboardData.workouts; track workout) {
          <li>
            {{ workout }}
          </li>
        }
      </ul>
    </div>

    <div class="card">
      <h3>Recommended Diet</h3>

      <ul>
        @for (food of dashboardData.diet; track food) {
          <li>
            {{ food }}
          </li>
        }
      </ul>
    </div>
  </div>
}
